.account-card {
    height: 100vh;
    display: grid; 
    align-items: center; 
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #eefff8;
    transition: 0.3s;
    border-radius: 5px;
    height: 200px;
    width: 25%;
    margin: 10px auto;    
    display: grid; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.account-card h1 {
    font-weight: bold;
    font-size: xx-large;
}

.name-card {
    font-weight: bold;
} 

.email-card {
    font-weight: bold;
}